
<mat-list>
  <pre>  </pre>
  <mat-icon mat-list-icon><i class="material-icons"></i></mat-icon>

  <mat-icon mat-list-icon><i class="material-icons" (click)="goBack()"  routerLink="/home">reply_all</i></mat-icon>
  <pre></pre>

  <mat-list-item routerLink="list">&nbsp;&nbsp;&nbsp;&nbsp;Users list</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="add">&nbsp;&nbsp;&nbsp;&nbsp;Add User</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="view">&nbsp;&nbsp;&nbsp;&nbsp;View Users</mat-list-item>
</mat-list>
<!--
<mat-expansion-panel>

  <mat-expansion-panel-header>

    <mat-panel-title routerLink="list">
      User List
    </mat-panel-title>
    <mat-panel-description>
      Details
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>...</p>
</mat-expansion-panel><mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title routerLink="add">
      Add User
    </mat-panel-title>
    <mat-panel-description>
      Details
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>...</p>
</mat-expansion-panel><mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title routerLink="view">
      View User
    </mat-panel-title>
    <mat-panel-description>
      Details
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>...</p>
</mat-expansion-panel>-->
